:root {
  --background-color: #fff;
  --background-light: #fff;
  --shadow-color: rgba(0, 0, 0, 0.2);
  --primary-color: rgb(255, 0, 86);
  --text-color: #0A0A0A;
  --text-light: #575757;
  --font-size: 16px;
  --animation-speed: 0.1s;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
}

.navbar {
  height: 55px;
  box-shadow: 0 3px 6px var(--shadow-color);
  background-color: var(--background-color);
  color: var(--text-color);
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.logo {
  font-size: 1.2em;
  font-weight: bolder;
  color: var(--primary-color);
  text-shadow: 0 1px 3px var(--shadow-color);
  padding-left: 50px;
}

span {
  color: var(--text-color);
}

.nav-links a {
  margin-left: 1em;
  color: var(--text-light);
  letter-spacing: 2px;
  text-transform: uppercase;
  position: relative;
}

.nav-links a::before {
  content: "";
  display: inline-block;
  height: 3px;
  width: 100%;
  background-color: var(--primary-color);
  position: absolute;
  bottom: -5px;
  left: 0;
  transform: scaleX(0);
  transition: transform calc(var(--animation-speed) * 0.3s) ease-in-out;
}

.nav-links a:hover::before {
  transform: scaleX(1);
}

.nav-links a.active {
  color: var(--primary-color);
  font-weight: bolder;
}

/* Responsive Adjustments */

@media (max-width: 768px) {
  .navbar {
    height: auto;
    flex-direction: column;
    padding: 10px;
  }

  .logo {
    padding-left: 0;
    margin-bottom: 10px;
  }

  .nav-links {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .nav-links a {
    margin: 5px 0;
  }
}
